* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    padding: 10px;
    background-color: rgb(16, 17, 16);
    text-align: center;
    color: beige;
    font-family: 'Dancing Script', cursive;
    font-family: 'Graduate', cursive;
}

.btn {
    color: black;
    height: 70px;
    width: 60px;
    border-radius: 8px;
    margin: 0 2px;
    font-size: large;
    font-weight: bold;

}

.container {
    display: block;
    text-align: center;
    /* border: 2px solid black; */
    /* width: 70vw; */
    /* display: flex; */

}

.input {
    height: 70px;
    width: 300px;
    text-align: center;
    font-size: large;
    background-color: aqua;
    border: 3px solid greenyellow;
    border-radius: 9px;
}

.atn1 {
    background-color: tomato;
}

.atn2 {
    background-color: cadetblue;
}

.display {
    text-align: center;
    /* background-color: aqua; */
}

.row {
    margin: 8px 0;
}

footer {
    margin-top: 150px;
    padding: 5px;
    background-color: brown;
    color: aliceblue;
    text-align: center;

}